@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    font-size: 14px;
}

body {
    margin: 0;
    font-family: 'Be Vietnam', sans-serif;
    color: #242D52; 
    background-color: #F2F2F2;
    background-image: url(../img/headbg.png), url(../img/Rectangle\ Copy\ 12.png);
    background-repeat: no-repeat;
    background-position-x: 563px,-156px;
    background-position-y: 0, 1044px; 
    
   
}

    
/* Umumiy stillar */

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.row {
    display: flex;
    
}

a {
    text-decoration: none;
}

.btn {
    padding: 12px 32px;
    border: none;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    color: #fff;
    background:#F3603C;
    border-radius: 22px;
    cursor: pointer;
    transition: opacity 500ms ease;
}

.btn:hover {
    opacity: 0.7;
}

.main-header {
   
    top: 0;
    width: 100%;
    padding: 18px 0;
    z-index: 99;
}

.main-header .row {
    justify-content: space-between;
    align-items: center;
}

.main-nav-link {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #242D52;
    font-size: 13px;
}

.main-nav-link:hover {
    
    color: #242D52;
    opacity: 0.5;
    transition: transform 300ms ease-in-out;
}

.main-nav-link:hover:after {
    transform: scaleX(1);

}
.column3{
    width: 33.3%;
}
.menu-toggle{
    display: none;
}

/* Intro */

.intro {
    position: relative;
    padding-top: 134px; 
  
    
}


.intro .container{
    display: flex;
    justify-content: space-between;
   
}
.main-title{
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -1px;
    width: 445px;
    padding-bottom:16px;
 

}
.mob-img{
    display: none;
}
.page-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 350px;
    padding-bottom:40px;
    color: #9597A5;
}

.photo1 {
   
    margin-right:10px;
    border-radius: 4px;
    width: 260px;
        
}


.image{
    align-items: center;
    display: flex;
    padding-top:15px;
    margin:0 auto;
    width: 260px;
  
}

/* section second */
.different{
    padding-top:132px;
    
    
}

.page-title{ 
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.7142857313156128px;
    text-align: left;
    width: 445px;
    margin:0;
    

}

.order-title{
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: -0.2857142984867096px;
   
 

}
.list-items{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #9597A5;
    padding-bottom:46px;
    margin-left:221px;
    width: 445px;
}

.number{
    
    border-radius: 39px;
    background: #F3603C;
    padding:6px 23px;
    margin-right:28px;
    color: white;
    margin-left:125px;
    
}
/* ==========================
  section3
==========================*/
.comment{
    max-width: none; 
    overflow-x: hidden;
   
   
}
.comment .row{
    display: flex;
    justify-content:  center;
}
.said{
    
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.7142857313156128px;
    text-align: center;
    padding-bottom:64px;
    max-width: none;
    overflow-x: hidden;


}
.profile{
    top:-36px;
    left: 235px;
    position: absolute;
    border-radius: 50%;
    text-align: center;
}
.comment .column3{
  
    width: 540px;
    background-color: #FAFAFA;
    margin-right:30px;
    position: relative;
    text-align: center;
    padding:40px;
    margin-bottom:60px;
    background-color: #FAFAFA;
    

}
.name{
   padding-top:-36px; 
   font-size: 16px;
   font-weight: 700;
   line-height: 23px;
   letter-spacing: -0.2857142984867096px;
}

.mind{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    width: 460px;
    color: #242D52;
    opacity: 0.5;
    
}
.button-start{
    display: flex;
    justify-content: center;
}
/* =======================
  section4
=========================*/

.simplify{
    margin-top:180px;
    padding:62px 0 ;
    background-image:url(../img/Rectangle\ Copy\ 19.jpg);
    background-size: cover;
    background-position:content;
   
   

}
.team{
    font-size: 40px;
    font-weight: 700;
    line-height: 44px; 
    width: 445px;
    color:white;
    text-align: left;
    display: flex;
    margin:0;
  

}
.get{
   
    font-size: 13px;
    font-weight: 700;
    padding:13px 32px 13px 32px;
    color: #F3603C;
    border-radius: 22px;
    border:1px solid;

    

}
.simplify .row{
    justify-content: space-between;
    align-items: center;
}
.get:hover{
    background-color: white;
    opacity: 0.5;
}

/* ======================
  foooter
========================== */

.main-footer{
    padding-top:65px;
    padding-bottom:62px;
    background-color:#1D1E25;

}
.footer-icon{
    margin-bottom:85px;
}

.fab{
    margin-right:14px;
    width: 20px;
    color: white;
}
.main-footer .row{
    justify-content: space-between;
}
.footer-links{
    margin:0;
     

}
.footer-menu{
    color: white;
}
.link-list{
    margin-bottom:13px;
    
}
.flink{
    display: flex;
    justify-content: center;
}
.mail{
    width: 200px;
    padding:14px 41px 14px 16px;
    border-radius: 22px;
    border:1px solid;
    color:#8D8D8D;
    margin-right:8px;
    margin-bottom:60px;
}
.btn-go{
    padding:13px 25px;
    border-radius: 22px;
    border:1px solid #F3603C;
    background-color: #F3603C;
    color:#FCF6F5;
    transition: 0.07s;

}
.reserved{
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    color: white;
    text-align: right;

}
.fab:hover{
    color:#F3603C;
}
.footer-menu:hover{
    color:#F3603C;

}
.btn-go:hover{
    background: #F98F75;
    
    

}
.mail:hover{
    border-color:#F33C3C ;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 111;
    display: none;
}

.modal-content {
    width: 400px;
    margin: 150px auto 0;
    background-color: #fff;
}



